<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="warning" xml:lang="de">
  <info>
    <link type="guide" xref="message"/>
    <desc>Die Option <cmd>--warning</cmd> verwenden.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2008-2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Christian Kirbach</mal:name>
      <mal:email>Christian.Kirbach@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>
  <title>Warndialog</title>
      <p>Verwenden Sie die Option <cmd>--warning</cmd>, um einen Warndialog zu erzeugen.</p>

      <p>Das folgende Beispielskript zeigt, wie Sie einen Warndialog erzeugen:</p>

<code>
#!/bin/bash

zenity --warning \
--text="Ziehen Sie den Netzstecker, um einen elektrischen Schlag zu vermeiden."
</code>

      <figure>
        <title>Beispiel für einen Warndialog</title>
	<desc>Beispiel für einen Warndialog in <app>Zenity</app></desc>
        <media type="image" mime="image/png" src="figures/zenity-warning-screenshot.png"/>
      </figure>
</page>
