<!DOCTYPE html>
<html lang="en-GB">
<head>
<base href="../../../../">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Symbols with Indices</title>
<link rel="shortcut icon" href="media/navigation/favicon.ico">
<link type="text/css" href="normalize.css" rel="Stylesheet">
<link type="text/css" href="default.css" rel="Stylesheet">
<script type="text/javascript" src="help2.js"></script><script type="text/javascript" src="fuse.js"></script><script type="text/javascript" src="paginathing.js"></script><meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body itemscope="true" itemtype="http://schema.org/TechArticle">
<div class="header-extrawurst">
<header><div class="logo-container"><a class="logo" href="en-GB/text/shared/main0108.html"><div class="symbol"></div>
<p>LibreOffice 6.1 Help</p></a></div></header><div class="modules">
<input id="modules" name="modules" type="checkbox"><label for="modules">Module</label><nav><a href="en-GB/text/swriter/main0000.html?DbPAR=WRITER"><div class="writer-icon"></div>Writer</a><a href="en-GB/text/scalc/main0000.html?DbPAR=CALC"><div class="calc-icon"></div>Calc</a><a href="en-GB/text/simpress/main0000.html?DbPAR=IMPRESS"><div class="impress-icon"></div>Impress</a><a href="en-GB/text/sdraw/main0000.html?DbPAR=DRAW"><div class="draw-icon"></div>Draw</a><a href="en-GB/text/shared/explorer/database/main.html?DbPAR=BASE"><div class="base-icon"></div>Base</a><a href="en-GB/text/smath/main0000.html?DbPAR=MATH"><div class="math-icon"></div>Math</a><a href="en-GB/text/schart/main0000.html?DbPAR=CHART"><div class="chart-icon"></div>Chart</a><a href="en-GB/text/sbasic/shared/main0601.html?DbPAR=BASIC"><div class="basic-icon"></div>Basic</a></nav>
</div>
</div>
<aside class="rightside"><input id="accordion-1" name="accordion-menu" type="checkbox"><label for="accordion-1">Contents</label><div id="Contents" class="contents-treeview"></div></aside><aside class="leftside"><div id="Index">
<div class="index-label">Index  🔎︎ </div>
<div id="Bookmarks">
<input id="search-bar" type="text" class="search"><nav class="index"></nav>
</div>
</div></aside><div id="DisplayArea" itemprop="articleBody">
<a name="indizes2"></a>
<h1 itemprop="articleSection" id="hd_id3155959">Symbols with Indices</h1>
<p id="par_id3150300" class="paragraph">Here is another example of creating symbols with indices in <span class="emph">LibreOffice Math</span>. You can copy this example to the <span class="emph">Commands</span> window using the clipboard and use it in your own formula.</p>

<p id="par_id3153912" class="paragraph">    <img src="media/helpimg/smzb2.png" alt="Symbols with Indices" title="Symbols with Indices" style="width:95px;height:80px;"></p>
<p id="par_id3154766" class="code"><span class="input" data-tooltip="Click on text to copy to clipboard">%SIGMA_g^{{}+{}}lsup 3</span></p>
<footer><div id="DEBUG" class="debug">
<h3 class="bug">Help content debug info:</h3>
<p>This page is: <a href="https://opengrok.libreoffice.org/xref/help/source/text/smath/01/03090902.xhp" target="_blank">/text/smath/01/03090902.xhp</a></p>
<p>Title is: Symbols with Indices</p>
<p id="bm_module"></p>
<p id="bm_system"></p>
</div></footer>
</div>
<script type="text/javascript" src="en-GB/bookmarks.js"></script><script type="text/javascript" src="en-GB/contents.js"></script><script type="text/javascript" src="help.js"></script><script type="text/javascript">
                
                var module = getParameterByName("DbPAR");
                var system = getSystem();
                fixURL(module,system);
                var dbg = getParameterByName("Debug");
                if (dbg == null){dbg=0}
                document.getElementById("DEBUG").style.display = (dbg == 0) ? "none":"block";
                document.getElementById("bm_module").innerHTML ="Module is: "+module;
                document.getElementById("bm_system").innerHTML ="System is: "+system;
                
            </script>
</body>
</html>
