<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="list" xml:lang="cs">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>Použití přepínače <cmd>--list</cmd>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2009, 2010, 2013</mal:years>
    </mal:credit>
  </info>
  <title>Dialogové okno se seznamem</title>
    <p>K vytvoření dialogového okna se seznamem použijte přepínač <cmd>--list</cmd>. Aplikace <app>Zenity</app> vrátí položky z prvního textového sloupce vybraných řádků na standardní výstup.</p>

    <p>Data pro dialogové okno se musí zadat sloupec po sloupci, řádek po řádku. Data lze dialogovému oknu předat i přes standardní vstup. Každá položka musí být oddělená znakem nového řádku.</p>

    <p>Pokud použijete přepínače <cmd>--checklist</cmd> nebo <cmd>--radiolist</cmd>, musí každý řádek začínat buď hodnotou „TRUE“ (bude zaškrtnuté) nebo „FALSE“ (nebude zaškrtnuté).</p>

    <p>Dialogové okno se seznamem podporuje následující přepínače:</p>

    <terms>

      <item>
        <title><cmd>--column</cmd>=<var>SLOUPEC</var></title>
	  <p>Určuje záhlaví sloupců zobrazených v seznamu. Přepínač <cmd>--column</cmd> musíte zadat opakovaně zvlášť pro každý ze sloupců, které chcete v seznamu zobrazit.</p>
      </item>

      <item>
        <title><cmd>--checklist</cmd></title>
	  <p>Určuje, že první sloupec v seznamu bude obsahovat zaškrtávací pole.</p>
      </item>

      <item>
        <title><cmd>--radiolist</cmd></title>
	  <p>Určuje, že první sloupec v seznamu bude obsahovat skupinový přepínač.</p>
      </item>

      <item>
        <title><cmd>--editable</cmd></title>
	  <p>Povolí v zobrazených položkách provádění úprav.</p>
      </item>

      <item>
        <title><cmd>--separator</cmd>=<var>ODDĚLOVAČ</var></title>
	  <p>Určuje řetězec použitý jako oddělovač vybraných položek seznamu, které dialogové okno vrátí.</p>
      </item>

      <item>
        <title><cmd>--print-column</cmd>=<var>SLOUPEC</var></title>
	  <p>Určuje sloupec, který se má z vybraného řádku vracet. Výchozí hodnota je „1“. Pokud chcete vrátit všechny sloupce seznamu, můžete použít hodnotu „ALL“.</p>
      </item>

    </terms>

    <p>Následující příklad skriptu ukazuje, jak vytvořit dialogové okno se seznamem:</p>
<code>
#!/bin/sh

zenity --list \
  --title="Vyberte chybu, kterou chcete zobrazit" \
  --column="Číslo chyby" --column="Priorita" --column="Popis" \
    992383 Normální "GtkTreeView se hroutí při výběru více položek" \
    293823 Vysoká "Slovník GNOME neumí pracovat s proxy" \
    393823 Kritická "Úprava nabídek nefunguje v GNOME 2.0"
</code>


    <figure>
      <title>Příklad dialogového okna se seznamem</title>
      <desc>Ukázka dialogového okna <app>Zenity</app> se seznamem</desc>
      <media type="image" mime="image/png" src="figures/zenity-list-screenshot.png"/>
    </figure>
</page>
