<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="text" xml:lang="cs">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>Použití přepínače <cmd>--text-info</cmd>.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Marek Černocký</mal:name>
      <mal:email>marek@manet.cz</mal:email>
      <mal:years>2009, 2010, 2013</mal:years>
    </mal:credit>
  </info>
  <title>Dialogové okno s informačním textem</title>
    <p>K vytvoření dialogového okna s informačním textem použijte přepínač <cmd>--text-info</cmd>.</p>
	
    <p>Dialogové okno s informačním textem podporuje následující přepínače:</p>

    <terms>

      <item>
        <title><cmd>--filename</cmd>=<var>NÁZEV_SOUBORU</var></title>
	<p>Určuje soubor, ze kterého se má do dialogového okna načíst text.</p>
      </item>

      <item>
        <title><cmd>--editable</cmd></title>
        <p>Povolí provádění úprav zobrazeného textu. Upravený text bude po zavření dialogového okna vrácen na standardní výstup.</p>
      </item>

      <item>
        <title><cmd>--font</cmd>=<var>PÍSMO</var></title>
	<p>Určuje písmo textu.</p>
      </item>

      <item>
        <title><cmd>--checkbox</cmd>=<var>TEXT</var></title>
	<p>Povolí zaškrtávací políčko pro účely ve stylu „Přečetl jsem si podmínky a souhlasím s nimi.“</p>
      </item>

      <item>
        <title><cmd>--html</cmd></title>
        <p>Zapne podporu pro HTML.</p>
      </item>

      <item>
        <title><cmd>--url</cmd>=<var>URL</var></title>
	<p>Nastavuje adresu URL namísto souboru. Funguje jen v případě, že použijete přepínač --html.</p>
      </item>

    </terms>

    <p>Následující příklad skriptu ukazuje, jak vytvořit dialogové okno s informačním textem:</p>

<code>
#!/bin/sh

# Do stejné složky jako skript musíte umístit soubor „COPYING“.
FILE=`dirname $0`/COPYING

zenity --text-info \
       --title="Licence" \
       --filename=$FILE \
       --checkbox="Přečetl jsem si podmínky a souhlasím s nimi."

case $? in
    0)
        echo "Začít instalaci!"
	# next step
	;;
    1)
        echo "Zastavit instalaci!"
	;;
    -1)
        echo "Vyskytla se neočekávaná chyba."
	;;
esac
</code>

    <figure>
      <title>Příklad dialogového okna s informačním textem</title>
      <desc>Ukázka dialogového okna <app>Zenity</app> s informačním textem</desc>
      <media type="image" mime="image/png" src="figures/zenity-text-screenshot.png"/>
    </figure>
</page>
