<!DOCTYPE html>
<html lang="en-GB">
<head>
<base href="../../../../">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Export</title>
<link rel="shortcut icon" href="media/navigation/favicon.ico">
<link type="text/css" href="normalize.css" rel="Stylesheet">
<link type="text/css" href="default.css" rel="Stylesheet">
<script type="text/javascript" src="help2.js"></script><script type="text/javascript" src="fuse.js"></script><script type="text/javascript" src="paginathing.js"></script><meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body itemscope="true" itemtype="http://schema.org/TechArticle">
<div class="header-extrawurst">
<header><div class="logo-container"><a class="logo" href="en-GB/text/shared/main0108.html"><div class="symbol"></div>
<p>LibreOffice 6.1 Help</p></a></div></header><div class="modules">
<input id="modules" name="modules" type="checkbox"><label for="modules">Module</label><nav><a href="en-GB/text/swriter/main0000.html?DbPAR=WRITER"><div class="writer-icon"></div>Writer</a><a href="en-GB/text/scalc/main0000.html?DbPAR=CALC"><div class="calc-icon"></div>Calc</a><a href="en-GB/text/simpress/main0000.html?DbPAR=IMPRESS"><div class="impress-icon"></div>Impress</a><a href="en-GB/text/sdraw/main0000.html?DbPAR=DRAW"><div class="draw-icon"></div>Draw</a><a href="en-GB/text/shared/explorer/database/main.html?DbPAR=BASE"><div class="base-icon"></div>Base</a><a href="en-GB/text/smath/main0000.html?DbPAR=MATH"><div class="math-icon"></div>Math</a><a href="en-GB/text/schart/main0000.html?DbPAR=CHART"><div class="chart-icon"></div>Chart</a><a href="en-GB/text/sbasic/shared/main0601.html?DbPAR=BASIC"><div class="basic-icon"></div>Basic</a></nav>
</div>
</div>
<aside class="rightside"><input id="accordion-1" name="accordion-menu" type="checkbox"><label for="accordion-1">Contents</label><div id="Contents" class="contents-treeview"></div></aside><aside class="leftside"><div id="Index">
<div class="index-label">Index  🔎︎ </div>
<div id="Bookmarks">
<input id="search-bar" type="text" class="search"><nav class="index"></nav>
</div>
</div></aside><div id="DisplayArea" itemprop="articleBody">
<a name="export"></a>
<a name="bm_id3153383"></a><meta itemprop="keywords" content="documents, exporting">
<meta itemprop="keywords" content="converting, $[officename] documents">
<meta itemprop="keywords" content="exporting,to foreign formats">
<a name="bm_id9593822"></a>
<a name="bm_id3154840"></a><h1 itemprop="articleSection" id="hd_id3153383">Export</h1>
<p id="par_id3149355" class="paragraph"><a name="exportieren"></a><span class="avis">Saves the current document with a different name and format to a location that you specify.</span></p>

<a name="howtoget"></a><div class="howtoget">
<div><p class="howtogetheader"><a name="wie"></a>To access this command...</p></div>
<div class="howtogetbody">
  <div class="embedded"><p class="embedded"><a name="export"></a>Choose <span class="emph">File - Export</span></p></div>
</div>
</div>
<br>
<p id="par_id3150710" class="paragraph">The following sections describe the <span class="emph">LibreOffice Export</span> dialogue box. To activate the <span class="emph">LibreOffice Open</span> and <span class="emph">Save</span> dialogue boxes, choose <span id="swlnidm26" class="switchinline"><span hidden="true" id="MACidm27"><span class="emph">LibreOffice - Preferences</span></span><span hidden="true" id="defaultidm29"><span class="emph">Tools - Options</span></span><script type="text/javascript">
                    setSystemSpan("swlnidm26");
                </script></span><span class="emph"> - </span><a target="_top" href="en-GB/text/shared/optionen/01010600.html"><span class="emph">LibreOffice - General</span></a>, and then select the <span class="emph">Use LibreOffice dialogue boxes</span> in the <span class="emph">Open/Save dialogue boxes</span> area.</p>
<h2 itemprop="articleSection" id="hd_id3150693">Up One Level</h2>
<div class="embedded">
<a name="levelup"></a>
<p id="par_id3153821" class="paragraph"><span class="avis">Move up one folder in the folder hierarchy. Long-click to see the higher level folders.</span></p>
<div class="embedded">
<a name="syuebergeordneterordner2"></a>

<div class="icontable">
<div class="iconcell">
<p id="par_id3153221" class="paragraphintable"><img src="media/icon-themes/svtools/res/up_small.png" alt="Icon" title="Icon" style="width:21px;height:21px;"></p>
</div>
<div class="iconcell">
<p id="par_id3145646" class="paragraphintable">Up One Level</p>
</div>
</div>


</div>
</div>
<h2 itemprop="articleSection" id="hd_id3153312">Create New Directory</h2>
<div class="embedded">
<a name="createdir"></a>
<p id="par_id3155583" class="paragraph"><span class="avis">Creates a new folder.</span></p>
<div class="embedded">
<a name="syneuenordnererstellen2"></a>

<div class="icontable">
<div class="iconcell">
<p id="par_id3151320" class="paragraphintable"><img src="media/icon-themes/cmd/sc_open.png" alt="Icon" title="Icon" style="width:21px;height:21px;"></p>
</div>
<div class="iconcell">
<p id="par_id3153005" class="paragraphintable">Create New Folder</p>
</div>
</div>


</div>
</div>
<div class="embedded">
<a name="places"></a>
<h2 itemprop="articleSection" id="hd_id3155627">Places area</h2>
<p id="par_id3149901" class="paragraph"><span class="avis">Displays "favourite" places, i.e. shortcuts to local or remote locations.</span></p>
</div>
<h2 itemprop="articleSection" id="hd_id3154317">Display area</h2>
<div class="embedded">
<a name="fileview"></a>
<p id="par_id3149902" class="paragraph"><span class="avis">Displays the files and folders in the folder that you are in.</span></p>
</div>
<h2 itemprop="articleSection" id="hd_id3147209">File Name</h2>
<div class="embedded">
<a name="filename"></a>
<p id="par_id3153626" class="paragraph"><span class="avis">Enter a file name or a path for the file. You can also enter a <a target="_top" href="en-GB/text/shared/00/00000002.html#url">URL</a></span></p>
</div>
<h2 itemprop="articleSection" id="hd_id3152996">File Type</h2>
<div class="embedded">
<a name="filetype"></a>
<p id="par_id3156343" class="paragraph"><span class="avis">Select the file format for the document that you are saving.</span> In the display area, only the documents with this file type are displayed. File types are described in <a target="_top" href="en-GB/text/shared/00/00000020.html">Information on Import and Export Filters</a>.</p>
</div>
<h2 itemprop="articleSection" id="hd_id3148539">Export</h2>
<div class="embedded">
<a name="save"></a>
<p id="par_id3154068" class="paragraph"><span class="avis">Saves the file.</span></p>
</div>
<footer><div id="DEBUG" class="debug">
<h3 class="bug">Help content debug info:</h3>
<p>This page is: <a href="https://opengrok.libreoffice.org/xref/help/source/text/shared/01/01070001.xhp" target="_blank">/text/shared/01/01070001.xhp</a></p>
<p>Title is: Export</p>
<p id="bm_module"></p>
<p id="bm_system"></p>
</div></footer>
</div>
<script type="text/javascript" src="en-GB/bookmarks.js"></script><script type="text/javascript" src="en-GB/contents.js"></script><script type="text/javascript" src="help.js"></script><script type="text/javascript">
                
                var module = getParameterByName("DbPAR");
                var system = getSystem();
                fixURL(module,system);
                var dbg = getParameterByName("Debug");
                if (dbg == null){dbg=0}
                document.getElementById("DEBUG").style.display = (dbg == 0) ? "none":"block";
                document.getElementById("bm_module").innerHTML ="Module is: "+module;
                document.getElementById("bm_system").innerHTML ="System is: "+system;
                
            </script>
</body>
</html>
