<!DOCTYPE html>
<html lang="en-GB">
<head>
<base href="../../../../">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Save As</title>
<link rel="shortcut icon" href="media/navigation/favicon.ico">
<link type="text/css" href="normalize.css" rel="Stylesheet">
<link type="text/css" href="default.css" rel="Stylesheet">
<script type="text/javascript" src="help2.js"></script><script type="text/javascript" src="fuse.js"></script><script type="text/javascript" src="paginathing.js"></script><meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body itemscope="true" itemtype="http://schema.org/TechArticle">
<div class="header-extrawurst">
<header><div class="logo-container"><a class="logo" href="en-GB/text/shared/main0108.html"><div class="symbol"></div>
<p>LibreOffice 6.1 Help</p></a></div></header><div class="modules">
<input id="modules" name="modules" type="checkbox"><label for="modules">Module</label><nav><a href="en-GB/text/swriter/main0000.html?DbPAR=WRITER"><div class="writer-icon"></div>Writer</a><a href="en-GB/text/scalc/main0000.html?DbPAR=CALC"><div class="calc-icon"></div>Calc</a><a href="en-GB/text/simpress/main0000.html?DbPAR=IMPRESS"><div class="impress-icon"></div>Impress</a><a href="en-GB/text/sdraw/main0000.html?DbPAR=DRAW"><div class="draw-icon"></div>Draw</a><a href="en-GB/text/shared/explorer/database/main.html?DbPAR=BASE"><div class="base-icon"></div>Base</a><a href="en-GB/text/smath/main0000.html?DbPAR=MATH"><div class="math-icon"></div>Math</a><a href="en-GB/text/schart/main0000.html?DbPAR=CHART"><div class="chart-icon"></div>Chart</a><a href="en-GB/text/sbasic/shared/main0601.html?DbPAR=BASIC"><div class="basic-icon"></div>Basic</a></nav>
</div>
</div>
<aside class="rightside"><input id="accordion-1" name="accordion-menu" type="checkbox"><label for="accordion-1">Contents</label><div id="Contents" class="contents-treeview"></div></aside><aside class="leftside"><div id="Index">
<div class="index-label">Index  🔎︎ </div>
<div id="Bookmarks">
<input id="search-bar" type="text" class="search"><nav class="index"></nav>
</div>
</div></aside><div id="DisplayArea" itemprop="articleBody">
<a name="saveas"></a>
<a name="bm_id3151260"></a><meta itemprop="keywords" content="saving as command, precautions">
<a name="bm_id294192"></a>
<a name="bm_id3149038"></a>
<a name="bm_id3155619"></a><h1 itemprop="articleSection" id="hd_id3151260">Save As</h1>
<p id="par_id3146856" class="paragraph"><a name="speichernuntertext"></a><span class="avis">Saves the current document in a different location, or with a different file name or file type.</span></p>

<a name="howtoget"></a><div class="howtoget">
<div><p class="howtogetheader"><a name="wie"></a>To access this command...</p></div>
<div class="howtogetbody">
  <div class="embedded"><p class="embedded"><a name="saveas"></a>Choose <span class="emph">File - Save As</span></p></div>
</div>
</div>
<br>
<p id="par_id3155934" class="paragraph">The following sections describe the <span class="productname">LibreOffice</span> <span class="emph">Save as</span> dialogue box. To activate the <span class="emph"><span class="productname">LibreOffice</span> Open</span> and <span class="emph">Save</span> dialogue boxes, choose <span id="swlnidm26" class="switchinline"><span hidden="true" id="MACidm27"><span class="emph">LibreOffice - Preferences</span></span><span hidden="true" id="defaultidm29"><span class="emph">Tools - Options</span></span><script type="text/javascript">
                    setSystemSpan("swlnidm26");
                </script></span><span class="emph"> - </span><a target="_top" href="en-GB/text/shared/optionen/01010600.html"><span class="emph">LibreOffice- General</span></a>, and then select the <span class="emph">Use LibreOffice dialogue boxes</span> in the <span class="emph">Open/Save dialogue boxes</span> area.</p>
<div class="note">
<div class="noteicon"><img src="media/icon-themes/help/note.png" alt="Note Icon " title="Note Icon "></div>
<div class="notetext"><p>To save a document as a template, use the command <span class="emph">File - Templates - Save As Template</span>.</p></div>
</div>
<br>
<a name="bm_id3154381"></a>
<a name="connecttoserver"></a>
<h2 itemprop="articleSection" id="hd_id3146774">Connect To Server</h2>
<p id="par_id3153820" class="paragraph"><span class="avis">Opens a dialogue box where you can set up connection to various types of servers, including WebDAV, FTP, SSH, Windows Share and CMIS.</span></p>

<a name="bm_id3154380"></a>
<h2 itemprop="articleSection" id="hd_id3146775">Up One Level</h2>
<a name="levelup"></a>
<p id="par_id3153821" class="paragraph"><span class="avis">Move up one folder in the folder hierarchy. Long-click to see the higher level folders.</span></p>
<div class="embedded">
<a name="syuebergeordneterordner2"></a>

<div class="icontable">
<div class="iconcell">
<p id="par_id3153221" class="paragraphintable"><img src="media/icon-themes/svtools/res/up_small.png" alt="Icon" title="Icon" style="width:21px;height:21px;"></p>
</div>
<div class="iconcell">
<p id="par_id3145646" class="paragraphintable">Up One Level</p>
</div>
</div>


</div>

<a name="bm_id3155321"></a><h2 itemprop="articleSection" id="hd_id3159157">Create New Folder</h2>
<a name="createdir"></a>
<p id="par_id3155583" class="paragraph"><span class="avis">Creates a new folder.</span></p>
<div class="embedded">
<a name="syneuenordnererstellen2"></a>

<div class="icontable">
<div class="iconcell">
<p id="par_id3151320" class="paragraphintable"><img src="media/icon-themes/cmd/sc_open.png" alt="Icon" title="Icon" style="width:21px;height:21px;"></p>
</div>
<div class="iconcell">
<p id="par_id3153005" class="paragraphintable">Create New Folder</p>
</div>
</div>


</div>


<a name="bm_id3149513"></a>
<a name="places"></a>
<h2 itemprop="articleSection" id="hd_id3155627">Places area</h2>
<p id="par_id3149901" class="paragraph"><span class="avis">Displays "favourite" places, i.e. shortcuts to local or remote locations.</span></p>

<a name="bm_id3149514"></a>
<a name="bm_id3154673"></a>
<a name="bm_id3151311"></a>
<h2 itemprop="articleSection" id="hd_id3155628">Display area</h2>
<a name="fileview"></a>
<p id="par_id3149902" class="paragraph"><span class="avis">Displays the files and folders in the folder that you are in.</span></p>

<a name="bm_id3155179"></a>
<a name="bm_id3154751"></a>
<a name="bm_id3154470"></a>
<h2 itemprop="articleSection" id="hd_id3154810">File name</h2>
<a name="filename"></a>
<p id="par_id3153626" class="paragraph"><span class="avis">Enter a file name or a path for the file. You can also enter a <a target="_top" href="en-GB/text/shared/00/00000002.html#url">URL</a></span></p>

<a name="bm_id3148552"></a>
<a name="bm_id3153527"></a>
<a name="bm_id3149491"></a>
<h2 itemprop="articleSection" id="hd_id3149669">File type</h2>
<a name="filetype"></a>
<p id="par_id3156343" class="paragraph"><span class="avis">Select the file format for the document that you are saving.</span> In the display area, only the documents with this file type are displayed. File types are described in <a target="_top" href="en-GB/text/shared/00/00000020.html">Information on Import and Export Filters</a>.</p>

<div class="embedded"><p class="embedded"><a name="ref_pdf_export"></a><a target="_top" href="en-GB/text/shared/01/ref_pdf_export.html">Export as PDF</a></p></div>
<div class="embedded"><p class="embedded"><a name="xmlformat"></a><a target="_top" href="en-GB/text/shared/00/00000021.html">XML File Formats</a></p></div>
<div class="warning">
<div class="noteicon"><img src="media/icon-themes/help/warning.png" alt="Warning Icon " title="Warning Icon "></div>
<div class="notetext"><p>Always save your document in a <span class="productname">LibreOffice</span> file type before saving it to an external file type. When you export to an external file type, some formatting features may be lost.</p></div>
</div>
<br>
<a name="bm_id3149170"></a>
<a name="bm_id3150693"></a>
<a name="bm_id3149099"></a>
<h2 itemprop="articleSection" id="hd_id3147228">Save</h2>
<a name="save"></a>
<p id="par_id3154068" class="paragraph"><span class="avis">Saves the file.</span></p>

<a name="bm_id3156282"></a><h2 itemprop="articleSection" id="hd_id3145744">Save with password</h2>
<a name="kennwort"></a>
<p id="par_id3145152" class="paragraph"><span class="avis">Protects the file with a <a target="_top" href="en-GB/text/shared/01/password_dlg.html">password</a> that must be entered before a user can open the file.</span></p>
<div class="note">
<div class="noteicon"><img src="media/icon-themes/help/note.png" alt="Note Icon " title="Note Icon "></div>
<div class="notetext"><p>Only documents using the <span class="productname">LibreOffice</span> XML-based format can be saved with a password.</p></div>
</div>
<br>

<a name="bm_id3147300"></a><h2 itemprop="articleSection" id="hd_id3147502">Edit filter settings</h2>
<p id="par_id3152883" class="paragraph"><span class="avis">Allows you to set the spreadsheet saving options for some types of data files.</span></p>
<a name="bm_id3150012"></a><h2 itemprop="articleSection" id="hd_id3154988">Selection</h2>
<p id="par_id3159125" class="paragraph"><span class="avis">Exports only the selected graphic objects in <span class="productname">LibreOffice</span> Draw and Impress to another format. If this check box is not marked, the entire document is exported.</span></p>
<div class="note">
<div class="noteicon"><img src="media/icon-themes/help/note.png" alt="Note Icon " title="Note Icon "></div>
<div class="notetext"><p>If you are exporting to any document file type, the entire document is exported.</p></div>
</div>
<br>
<a name="relatedtopics"></a><div class="relatedtopics">
<p class="related" itemprop="mentions"><a name="related"></a><span class="emph">Related Topics</span></p>
<div class="relatedbody" itemprop="mentions">
<div class="embedded"><p class="embedded"><a name="doc_save"></a><a target="_top" href="en-GB/text/shared/guide/doc_save.html">Saving Documents</a></p></div>
<p id="par_id3146986" class="paragraph"><a target="_top" href="en-GB/text/shared/00/00000207.html">Export of Text Files</a></p>
</div>
</div>
<footer><div id="DEBUG" class="debug">
<h3 class="bug">Help content debug info:</h3>
<p>This page is: <a href="https://opengrok.libreoffice.org/xref/help/source/text/shared/01/01070000.xhp" target="_blank">/text/shared/01/01070000.xhp</a></p>
<p>Title is: Save As</p>
<p id="bm_module"></p>
<p id="bm_system"></p>
</div></footer>
</div>
<script type="text/javascript" src="en-GB/bookmarks.js"></script><script type="text/javascript" src="en-GB/contents.js"></script><script type="text/javascript" src="help.js"></script><script type="text/javascript">
                
                var module = getParameterByName("DbPAR");
                var system = getSystem();
                fixURL(module,system);
                var dbg = getParameterByName("Debug");
                if (dbg == null){dbg=0}
                document.getElementById("DEBUG").style.display = (dbg == 0) ? "none":"block";
                document.getElementById("bm_module").innerHTML ="Module is: "+module;
                document.getElementById("bm_system").innerHTML ="System is: "+system;
                
            </script>
</body>
</html>
