<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="index" xml:lang="pt-BR">
<info>
  <credit type="author">
    <name>Sun Java Desktop System Documentation Team</name>
  </credit>
  <credit type="author">
    <name>Glynn Foster</name>
  </credit>
  <credit type="editor">
    <name>Nicholas Curran</name>
    <email/>
  </credit>
  <credit type="editor">
    <name>Yasumichi Akahoshi</name>
    <email>yasumichi@vinelinux.org</email>
  </credit>
  <license>
   <p>Licença de Documentação Livre GNU (GFDL)</p>
  </license>
   <include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodolfo Ribeiro Gomes</mal:name>
      <mal:email>rodolforg@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  </info>
<title>Manual do Zenity</title>
<!--links type="topic" groups="dialogs" /-->
<section id="dialogs" style="2column">
  <title>Diálogos</title>
</section>
</page>
