<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="message" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="index#dialogs" group="message"/>
    <desc><link xref="error">Erro</link>, <link xref="info">Informação</link>, <link xref="question">Pergunta</link>, <link xref="warning">Aviso</link></desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rodolfo Ribeiro Gomes</mal:name>
      <mal:email>rodolforg@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2017</mal:years>
    </mal:credit>
  </info>
  <title>Diálogo de mensagem</title>
  <p>Para cada tipo, use a opção <cmd>--text</cmd> para especificar o texto que será exibido no diálogo.</p>
  <links type="topic" style="2column"/>
</page>
