<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="usage" xml:lang="el">
<info>
  <link type="guide" xref="index"/>
  <desc>Όταν γράφετε σενάρια, μπορείτε χρησιμοποιώντας το <app>Zenity</app> να δημιουργήσετε απλούς διαλόγους που αλληλεπιδρούν γραφικά με τον χρήστη, ως εξής:</desc>

    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Ελληνική μεταφραστική ομάδα GNOME</mal:name>
      <mal:email>team@gnome.gr</mal:email>
      <mal:years>2009-2014 </mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Στέργιος Προσινικλής</mal:name>
      <mal:email>steriosprosiniklis@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Θάνος Τρυφωνίδης</mal:name>
      <mal:email>tomtryf@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Δημήτρης Σπίγγος</mal:name>
      <mal:email>dmtrs32@gmail.com</mal:email>
      <mal:years>2014</mal:years>
    </mal:credit>
  </info>
<title>Χρήση</title>
    <p>Όταν γράφετε σενάρια, μπορείτε χρησιμοποιώντας το <app>Zenity</app> να δημιουργήσετε απλούς διαλόγους που αλληλεπιδρούν γραφικά με τον χρήστη, ως εξής:</p>
    <list>
      <item>
        <p>Μπορείτε να δημιουργήσετε έναν διάλογο για να αποκτήσετε πληροφορίες από τον χρήστη. Για παράδειγμα, μπορείτε να προτρέψετε τον χρήστη να επιλέξει μία ημερομηνία από διάλογο ημερολογίου, ή να επιλέξει ένα αρχείο από διάλογο επιλογής αρχείου.</p>
      </item>
      <item>
        <p>Μπορείτε να δημιουργήσετε έναν διάλογο για να παρέχετε στον χρήστη πληροφορίες. Για παράδειγμα, χρησιμοποιώντας έναν διάλογο προόδου δείχνετε την τρέχουσα κατάσταση μίας εργασίας, ή μπορείτε να χρησιμοποιήσετε έναν διάλογο προειδοποίησης του χρήστη.</p>
      </item>
    </list>
    <p>Όταν ο χρήστης κλείνει τον διάλογο, το <app>Zenity</app> εκτυπώνει το κείμενο που παράχθηκε από αυτόν σαν τυπικό λάθος.</p>

    <note>
      <p>Όταν γράφετε εντολές για το <app>Zenity</app>, βεβαιωθείτε ότι χρησιμοποιείτε εισαγωγικά σε κάθε όρισμα.</p>
      <p>Για παράδειγμα, χρησιμοποιήστε:</p>
      <screen>zenity --calendar --title="Holiday Planner"</screen>
      <p>Μην χρησιμοποιείτε:</p>
      <screen>zenity --calendar --title=Holiday Planner</screen>
      <p>Αν δεν χρησιμοποιήσετε εισαγωγικά, μπορεί να πάρετε μη αναμενόμενα αποτελέσματα.</p>
    </note>

    <section id="zenity-usage-mnemonics">
      <title>Πλήκτρα πρόσβασης</title>
	<p>Ένα πλήκτρο πρόσβασης σας επιτρέπει να εκτελέσετε μία ενέργεια από το πληκτρολόγιο χωρίς να χρησιμοποιήσετε το ποντίκι για να επιλέξετε μία εντολή από μενού ή διάλογο. Κάθε πλήκτρο πρόσβασης προσδιορίζεται από ένα υπογραμμισμένο γράμμα σε επιλογές μενού ή διαλόγων.</p>
	<p>Κάποιοι από τους διαλόγους του <app>Zenity</app> υποστηρίζουν την χρήση πλήκτρων πρόσβασης. Για να προσδιορίσετε τον χαρακτήρα που θα χρησιμοποιηθεί σαν πλήκτρο πρόσβασης, βάλτε μία υπογράμμιση _ πριν τον χαρακτήρα στο κείμενο του διαλόγου. Το παρακάτω παράδειγμα σας δείχνει πως να καθορίσετε το γράμμα Ε σαν πλήκτρο πρόσβασης:</p>
	<screen><input>"_Επιλογή ονόματος".</input></screen>
    </section>

    <section id="zenity-usage-exitcodes">
      <title>Κώδικες εξόδου (Exit codes)</title>
    <p>Το Zenity αποδίδει τους εξής κώδικες εξόδου:</p>

    <table frame="all" rules="all">
        <thead>
          <tr>
            <td>
              <p>Κώδικας εξόδου</p></td>
            <td>
              <p>Περιγραφή</p></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><var>0</var></p>
            </td>
            <td>
              <p>Ο χρήστης πάτησε είτε το πλήκτρο <gui style="button">Εντάξει</gui> είτε το πλήκτρο <gui style="button">Κλείσιμο</gui>.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><var>1</var></p>
            </td>
            <td>
              <p>Ο χρήστης είτε πάτησε το πλήκτρο <gui style="button">Ακύρωση</gui>, ή χρησιμοποίησε τις λειτουργίες του παραθύρου για να κλείσει τον διάλογο.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><var>-1</var></p>
            </td>
            <td>
              <p>Συνέβη ένα απρόσμενο σφάλμα.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><var>5</var></p>
            </td>
            <td>
              <p>Ο διάλογος έκλεισε λόγω συμπλήρωσης του χρονικού περιθωρίου.</p>
            </td>
          </tr>
        </tbody>
    </table>

    </section>


  <!-- ==== General Options ====== -->

  <section id="zenity-usage-general-options">
    <title>Γενικές επιλογές</title>

    <p>Όλοι οι διάλογοι του Zenity υποστηρίζουν τις παρακάτω γενικές επιλογές:</p>

    <terms>

      <item>
        <title><cmd>--title</cmd>=<var>τίτλος</var></title>
	<p>Καθορίζει τον τίτλο του διαλόγου.</p>
      </item>

      <item>
        <title><cmd>--window-icon</cmd>=<var>διαδρομή_του_εικονιδίου</var></title>
	<p>Καθορίζει το εικονίδιο που προβάλλεται στο πλαίσιο παραθύρου του διαλόγου. Επίσης είναι διαθέσιμα 4 εικονίδια της εφαρμογής χρησιμοποιώντας τις εξής λέξεις κλειδιά - «info», «warning», «question» και «error».</p>
      </item>

      <item>
        <title><cmd>--width</cmd>=<var>πλάτος</var></title>
	<p>Καθορίζει το πλάτος του διαλόγου.</p>
      </item>

      <item>
        <title><cmd>--height</cmd>=<var>ύψος</var></title>
	<p>Καθορίζει το ύψος του διαλόγου.</p>
      </item>

      <item>
        <title><cmd>--timeout</cmd>=<var>χρονικό όριο</var></title>
	<p>Καθορίζει το χρονικό περιθώριο σε δευτερόλεπτα μετά το οποίο ο διάλογος κλείνει.</p>
      </item>

    </terms>

  </section>

<!-- ==== Miscellaneous Options ====== -->

  <section id="zenity-help-options">
    <title>Επιλογές βοήθειας</title>

    <p>Το Zenity παρέχει τις παρακάτω επιλογές βοήθειας:</p>

    <terms>

      <item>
        <title><cmd>--help</cmd></title>
	<p>Προβάλλει σύντομο κείμενο βοήθειας.</p>
      </item>

      <item>
        <title><cmd>--help-all</cmd></title>
	<p>Πλήρες κείμενο βοήθειας για όλους τους διαλόγους.</p>
      </item>
 
      <item>
        <title><cmd>--help-general</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις γενικές επιλογές διαλόγου.</p>
      </item>
 
      <item>
        <title><cmd>--help-calendar</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου ημερολογίου.</p>
      </item>
 
      <item>
        <title><cmd>--help-entry</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου καταχώρησης κειμένου.</p>
      </item>
 
      <item>
        <title><cmd>--help-error</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου εμφάνισης σφάλματος.</p>
      </item>
 
      <item>
        <title><cmd>--help-info</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου πληροφοριών κειμένου.</p>
      </item>
 
      <item>
        <title><cmd>--help-file-selection</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου επιλογής αρχείου.</p>
      </item>
 
      <item>
        <title><cmd>--help-list</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου λίστας.</p>
      </item>
 
      <item>
        <title><cmd>--help-notification</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του εικονιδίου ειδοποίησης.</p>
      </item>
 
      <item>
        <title><cmd>--help-progress</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου ένδειξης προόδου.</p>
      </item>
 
      <item>
        <title><cmd>--help-question</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου ερώτησης.</p>
      </item>
 
      <item>
        <title><cmd>--help-warning</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου προειδοποίησης.</p>
      </item>
 
      <item>
	<title><cmd>--help-text-info</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για τις επιλογές του διαλόγου πληροφοριών κειμένου.</p>
      </item>
 
      <item>
        <title><cmd>--help-misc</cmd></title>
	<p>Προβάλλει κείμενο βοήθειας για διάφορες επιλογές.</p>
      </item>
 
      <item>
        <title><cmd>--help-gtk</cmd></title>
	<p>Προβάλλει βοήθεια για τις επιλογές GTK+.</p>
      </item>
 
    </terms>

  </section>

<!-- ==== Miscellaneous Options ====== -->

  <section id="zenity-miscellaneous-options">
    <title>Διάφορες επιλογές</title>

    <p>Το Zenity επίσης παρέχει τις παρακάτω διάφορες επιλογές:</p>

    <terms>

      <item>
        <title><cmd>--about</cmd></title>
	<p>Προβάλλει το παράθυρο διαλόγου <gui>Περί Zenity</gui>, που περιέχει πληροφορίες έκδοσης, πνευματικών δικαιωμάτων και υπευθύνων ανάπτυξης του Zenity.</p>
      </item>

      <item>
        <title><cmd>--version</cmd></title>
	<p>Εμφανίζει τον αριθμό έκδοσης του Zenity.</p>
      </item>

    </terms>

  </section>

<!-- ==== GTK+ Options ====== -->

  <section id="zenity-gtk-options">
    <title>Επιλογές GTK+</title>

    <p>Το Zenity υποστηρίζει τις συνήθεις επιλογές του GTK+. Για περισσότερες πληροφορίες γύρω από αυτές, εκτελέστε την εντολή <cmd>zenity --help-gtk</cmd>.</p>

  </section>

<!-- ==== Environment variables ==== -->

  <section id="zenity-environment-variables">
    <title>Μεταβλητές περιβάλλοντος</title>

    <p>Υπό κανονικές συνθήκες, το <app>Zenity</app> ανιχνεύει το παράθυρο τερματικού από το οποίο εκκινήθηκε και παραμένει πάνω από αυτό το παράθυρο. Αυτή η συμπεριφορά μπορεί να ακυρωθεί απενεργοποιώντας την μεταβλητή περιβάλλοντος <var>WINDOWID</var>.</p>

  </section>
</page>
