<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="password" xml:lang="bg">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>Use the <cmd>--password</cmd> option.</desc>
  </info>
  <title>Password Dialog</title>
  <p>
    Use the <cmd>--password</cmd> option to create a password entry dialog. 
  </p>
  <p>
    The password entry dialog supports the following options:
  </p>

  <terms>
    <item>
      <title><cmd>--username</cmd></title>
      <p>Display the username field.</p>
    </item>
  </terms>

  <p>
    The following example script shows how to create a password entry dialog:
  </p>

<code>
#!/bin/sh

ENTRY=`zenity --password --username`

case $? in
         0)
	 	echo "User Name: `echo $ENTRY | cut -d'|' -f1`"
	 	echo "Password : `echo $ENTRY | cut -d'|' -f2`"
		;;
         1)
                echo "Stop login.";;
        -1)
                echo "An unexpected error has occurred.";;
esac
</code>

  <figure>
    <title>Password Entry Dialog Example</title>
    <desc><app>Zenity</app> password entry dialog example</desc>
    <media type="image" mime="image/png" src="figures/zenity-password-screenshot.png"/>
  </figure>

</page>
