<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" style="task" id="gedit-plugins-install" xml:lang="pt-BR">
  <info>
    <link type="guide" xref="gedit-plugin-guide#gedit-additional-plugins"/>
    <revision pkgversion="3.8" date="2013-02-24" status="review"/>
    <credit type="author">
      <name>Jim Campbell</name>
      <email>jcampbell@gnome.org</email>
    </credit>
    <credit type="author">
      <name>Daniel Neel</name>
      <email>dneelyep@gmail.com</email>
    </credit>
    <desc>Como instalar plug-ins de terceiros.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wagner Luís de Araújo Menezes Macêdo</mal:name>
      <mal:email>wagnerluis1982@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Pedro Vaz de Mello de Medeiros</mal:name>
      <mal:email>pedrovmm@gmail.com</mal:email>
      <mal:years>2007</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Leonardo Ferreira Fontenelle</mal:name>
      <mal:email>leonardof@gnome.org</mal:email>
      <mal:years>2007, 2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Vladimir Melo</mal:name>
      <mal:email>vmelo@gnome.org</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Fabricio Godoy</mal:name>
      <mal:email>skarllot@gmail.com</mal:email>
      <mal:years>2008</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Krix Apolinário</mal:name>
      <mal:email>krixapolinario@gmail.com</mal:email>
      <mal:years>2009</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>José Carlos Menezes</mal:name>
      <mal:email>jcmenezes.91@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Enrico Nicoletto</mal:name>
      <mal:email>liverig@gmail.com</mal:email>
      <mal:years>2013, 2014</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Rafael Fontenelle</mal:name>
      <mal:email>rafaelff@gnome.org</mal:email>
      <mal:years>2013, 2014, 2016-2018</mal:years>
    </mal:credit>
  </info>

  <title>Plug-ins adicionais do gedit</title>

  <p>A instalação de plug-ins de terceiros oferece funcionalidades adicionais que não estão disponíveis nos plug-ins padrões do <app>gedit</app>, nem mesmo nos plug-ins extras que fazem parte do pacote <app>gedit-plugins</app>. Uma lista on-line de plug-ins de terceiros é <link href="https://wiki.gnome.org/Apps/Gedit">mantida aqui</link>.</p>
  
  <p>A instalação de um plug-in de terceiro envolve baixar o plug-in, colocar os seus arquivos no diretório correto e ativar o plug-in.</p>
  
  <steps>
    <item><p>Você geralmente pode fazer o download de um plug-in através da página do plug-in na internet, mas pode precisar usar um programa de controle de versão tal como <app>git</app>, <app>bazaar</app>, ou <app>subversion</app> para copiar da internet o repositório do software do plug-in. Consulte a documentação do plug-in para informações sobre como obter o plug-in.</p></item>
    <item><p>Coloque os arquivos do plug-in no diretório <file>/home/<var>nomedousuario</var>/.local/share/gedit/plugins</file>.</p>
    <p>É claro, troque a palavra <var>nomedousuario</var> pelo seu nome de usuário.</p></item>
    <item><p>Depois que você tiver colocado os arquivos de plug-ins dentro do diretório correto, o plug-in aparecerá no menu de Preferências. Selecione <guiseq><gui>Editar</gui><gui style="menuitem">Preferências</gui><gui>Plug-ins</gui><gui>[Nome do Plug-in]</gui></guiseq> para habilitar o plug-in.</p></item>
    <item><p>Clique em <gui>Fechar</gui>.</p></item>
  </steps>
  
  <p>Após a habilitação do plug-in, ele deve estar disponível para o seu uso.</p>
  
  <note style="tip">
    <p>O diretório <file>.local</file> é oculto por padrão. Para visualizar ele e outros arquivos ocultos, selecione <guiseq><gui>Ver</gui><gui>Mostrar arquivos ocultos</gui></guiseq> ou pressione<keyseq><key>Ctrl</key><key>H</key></keyseq>.</p>
  </note>

  <note style="tip">
    <p>Se o diretório <file>.local/share/gedit/plugins/</file> não estiver presente no seu sistema, você precisará criá-lo.</p>
  </note>
  
</page>
