<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="warning" xml:lang="zh-CN">
  <info>
    <link type="guide" xref="message"/>
    <desc>使用 <cmd>--warning</cmd> 选项。</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>TeliuTe</mal:name>
      <mal:email>teliute@163.com</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>tuhaihe</mal:name>
      <mal:email>1132321739qq@gmail.com</mal:email>
      <mal:years>2012</mal:years>
    </mal:credit>
  </info>
  <title>警告对话框</title>
      <p>使用 <cmd>--warning</cmd> 选项创建一个警告对话框。</p>

      <p>下面的脚本示范了如何创建一个警告对话框：</p>

<code>
#!/bin/bash

zenity --warning \
--text="拔下电源线，避免触电。"
</code>

      <figure>
        <title>警告框范例</title>
	<desc><app>Zenity</app> 警告对话框范例</desc>
        <media type="image" mime="image/png" src="figures/zenity-warning-screenshot.png"/>
      </figure>
</page>
