body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #222;
    word-wrap: break-word;
}

a:link, a:visited {
    text-decoration: underline;
    color: black;
}

a:hover {
    text-decoration: none;
}

strong, b {
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    color: #438aa5;
    font-weight: 700;
}

h1 {
    min-height: 40px;
    margin: 20px -50px;
    padding: 15px 50px;
    background: #438aa5;
    color: white;
    font-size: 36px;
    line-height: 36px;
}

h2 {
    margin: 50px 0 50px -50px;
    padding: 0 0 0 50px;
    background: #438aa5;
    color: white;
    font-size: 20px;
    line-height: 40px;
    border: 0;
    border-left: 0;
    color: white;
}

h2:before {
    width: 80px;
    height: 80px;
    float: left;
    margin: -20px 0 0;
    padding: 0 20px;
}

.cover h2, .requirements h2, .worksheet h2, .lesson h2, .component h2 {
    padding: 0 0 0 20px;
}

.cover .overview.make h2:before {
    content: url('images/icons/make.png');
}

.cover .overview.learn h2:before {
    content: url('images/icons/learn.png');
}

.cover .overview.do h2:before {
    content: url('images/icons/do.png');
}

.cover .overview.study h2:before {
    content: url('images/icons/study.png');
}

.component h2:before {
    content: url('images/icons/buy.png');
}

h2.hardware:before {
    content: url('images/icons/hardware.png');
}

.requirements h2.software:before {
    content: url('images/icons/software.png');
}

.requirements h2.extras:before {
    content: url('images/icons/extras.png');
}

.worksheet h2:nth-of-type(1):before {
    content: url('images/icons/step1.png');
}

.worksheet h2:nth-of-type(2):before {
    content: url('images/icons/step2.png');
}

.worksheet h2:nth-of-type(3):before {
    content: url('images/icons/step3.png');
}

.worksheet h2:nth-of-type(4):before {
    content: url('images/icons/step4.png');
}

.worksheet h2:nth-of-type(5):before {
    content: url('images/icons/step5.png');
}

.worksheet h2:nth-of-type(6):before {
    content: url('images/icons/step6.png');
}

.worksheet h2:nth-of-type(7):before {
    content: url('images/icons/step7.png');
}

.worksheet h2:nth-of-type(8):before {
    content: url('images/icons/step8.png');
}

.worksheet h2:nth-of-type(9):before {
    content: url('images/icons/step9.png');
}

.worksheet h2:nth-of-type(10):before {
    content: url('images/icons/step10.png');
}

.worksheet h2:last-of-type:before {
    content: url('images/icons/next.png');
}

.lesson h2:before {
    content: url('images/icons/lesson.png');
}

.lesson h2:nth-of-type(1):before {
    content: url('images/icons/learning-objectives.png');
}

.lesson h2:nth-of-type(2):before {
    content: url('images/icons/learning-outcomes.png');
}

.lesson h2:nth-of-type(3):before {
    content: url('images/icons/lesson.png');
}

.lesson h2:nth-of-type(4):before {
    content: url('images/icons/starter.png');
}

.lesson h2:nth-of-type(5):before {
    content: url('images/icons/main.png');
}

.lesson h2:nth-of-type(6):before {
    content: url('images/icons/plenary.png');
}

.lesson h2:nth-of-type(7):before {
    content: url('images/icons/homework.png');
}

h3 {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    background: white;
    border: 0;
}

h4 {
    font-size: 16px;
    line-height: 22px;
}

h5 {
    font-size: 15px;
    line-height: 22px;
}

h6 {
    font-size: 15px;
    line-height: 22px;
}

.container {
    width: 900px;
    margin: 0 auto;
    border-width: 0 5px;
    border-style: solid;
    border-color: #438aa5;
}

header.header {
    width: 100%;
    height: 60px;
    background: #438aa5 url('images/rpi.png') no-repeat;
    overflow: auto;
    font-family: "Roboto Slab";
}

header.header a.heading {
    display: block;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-indent: 60px;
    line-height: 60px;
}

nav.nav ul li a {
    color: #438aa5;
    text-decoration: none;
}

nav.nav ul li a:hover {
    text-decoration: underline;
}

nav.breadcrumbs {
    float: left;
}

nav.breadcrumbs ul {
    margin: 10px 0 0 10px;
    padding: 0;
}

nav.breadcrumbs ul li {
    float: left;
    list-style-type: none;
    font-size: 10px;
}

nav.breadcrumbs ul li + li:before {
    float: left;
    width: 20px;
    content: '>';
    text-align: center;
}

nav.resource-categories {
    float: right;
    margin: 10px 20px 30px;
}

nav.resource-categories ul {
    margin: 0;
    padding: 0;
    overflow: auto;
}

nav.resource-categories ul li {
    display: block;
    float: left;
    list-style-type: none;
    padding: 0;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 500;
    color: #438aa5;
}

.help nav.resource-categories ul li.help,
.teach nav.resource-categories ul li.teach,
.learn nav.resource-categories ul li.learn,
.make nav.resource-categories ul li.make {
    font-weight: 700;
}

nav.resource-categories ul li + li:before {
    content: '/';
    margin: 10px;
}

.main {
    margin: 60px auto 0;
    clear: both;
}

.cover .cover-image {
    text-align: center;
}

nav.buttons {
    margin: 50px 0;
    border-top: 4px solid #438aa5;
}

nav.buttons a.button {
    display: block;
    float: left;
    width: 300px;
    height: 60px;
    line-height: 60px;
    margin: 50px;
    background: #438aa5;
    color: white;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

nav.buttons.one a.button {
    margin: 50px auto;
    float: none;
}

.lessons nav.buttons {
    border-top: 0;
}

.lessons nav.buttons h2 {
    min-height: 20px;
    margin: 20px 0 20px -20px;
    background: none;
    color: #438aa5;
    clear: both;
}

.lessons nav.buttons a {
    margin: 0 50px 50px;
}

ul.hardware-items {
    width: 800px;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.hardware-items li {
    width: 184px;
    float: left;
    margin: 5px;
    list-style-type: none !important;
    border-color: #438aa5;
    border-style: solid;
    border-width: 3px;
}

ul.hardware-items li:nth-of-type(4n+1) {
    border-left-width: 3px;
}

ul.hardware-items li img {
    width: 100%;
    height: auto;
    margin: 0;
}

ul.hardware-items li .detail {
    width: 181px;
    height: 36px;
    padding: 10px 3px;
    background: #438aa5;
    color: white;
    font-size: 12px;
    line-height: 18px;
}

.component img {
    width: 50%;
}

.content {
    margin: 0 50px;
}

.content p {
    margin: 20px 0;
}

.content ul, .content ol {
    margin: 20px 0;
    padding-left: 20px;
}

.content li {
    margin: 20px 0;
}

.content ul li {
    list-style-type: square;
}

.content ol li {
    padding: 0;
}

.content img {
    display: block;
    margin: 40px auto;
    max-width: 760px;
}

.content pre, .content code {
    background: #f2f1f0;
    border: 1px solid #ddd;
    font-family: "Courier", monospace;
    padding: 2px 5px;
    font-size: 16px;
}

.content pre {
    width: 700px;
    margin: 20px 0;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
}

.content pre code {
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 14px;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
    background: transparent;
}

.content table {
    margin: 0 auto;
    border-collapse: collapse;
}

.content table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.content table thead {
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.content table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.content table th {
    border: 1px solid #ddd;
    padding: 6px 13px;
    font-weight: bold;
}

.content table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.content table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}

.content iframe {
    margin: 0 auto;
    display: block;
}

footer.footer {
    margin: 80px 50px 0;
    padding: 0 0 20px;
    height: 30px;
}

footer.footer p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #555;
}

footer.footer small {
    float: left;
    width: 670px;
    margin-top: -1px;
}

footer.footer a.logo {
    height: 32px;
    float: left;
    display: block;
    text-indent: -9999px;
}

footer.footer a.cc {
    background: url('images/creative-commons.png');
    width: 88px;
    margin-right: 10px;
}

footer.footer a.gh {
    background: url('images/octocat.png');
    width: 32px;
    float: right;
}

footer.footer a:link, footer.footer a:visited {
    color: #438aa5;
    text-decoration: none;
}

footer.footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 920px) {
    .container {
        width: 100%;
        border: 0;
    }

    .container * {
        max-width: 100% !important;
    }

    .main {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .content {
        margin: 0;
    }

    h1, h2 {
        margin: 50px 0;
        padding: 15px;
    }

    h3 {
        margin: 10px 0 10px 20px;
    }

    .cover h2, .requirements h2, .worksheet h2, .lesson h2 {
        padding: 0;
    }

    .lessons nav.buttons h2 {
        margin: 20px;
        line-height: 30px;
    }

    .content p {
        margin: 20px;
    }

    .content ol, .content ul {
        margin: 20px;
    }

    .content ol li, .content ul li {
        padding: 0px;
    }

    ul.hardware-items {
        width: 800px;
        margin: 0 auto;
    }

    .content pre {
        width: 92%;
        margin: 20px 2%;
        padding: 10px 2%;
    }

    nav.buttons {
        margin: 0;
        border-top: 0;
    }

    footer.footer {
        margin: 20px 10px 0px;
        padding: 0px 0px 20px;
        text-align: center;
    }

    footer.footer a.cc, footer.footer a.gh {
        float: none;
        margin: 10px auto;
    }

    footer.footer small {
        float: none;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    h2 {
        padding: 0px 20px;
    }

    .worksheet h2, .teach.cover h2, .cover h2, .requirements h2, .worksheet h2, .lesson h2, .component h2 {
        padding: 0px 20px 0 0;
    }

    h2:before {
        width: 40px;
        height: 40px;
        margin: 0;
    }

    .worksheet h2, .teach.cover h2 {
        height: auto;
        min-height: 40px;
        padding-right: 5px;
        font-size: 16px;
        line-height: 30px;
    }

    .worksheet h2:before {
        height: auto;
    }

     .teach.cover h2 {
        line-height: 40px;
     }

    .cover .overview.make h2:before {
        content: url('images/icons/small/make.png');
    }

    .cover .overview.learn h2:before {
        content: url('images/icons/small/learn.png');
    }

    .cover .overview.do h2:before {
        content: url('images/icons/small/do.png');
    }

    .cover .overview.study h2:before {
        content: url('images/icons/small/study.png');
    }

    .component h2:before {
        content: url('images/icons/small/buy.png');
    }

    .requirements h2.hardware:before {
        content: url('images/icons/small/hardware.png');
    }

    .requirements h2.software:before {
        content: url('images/icons/small/software.png');
    }

    .requirements h2.extras:before {
        content: url('images/icons/small/extras.png');
    }

    .worksheet h2:nth-of-type(1):before {
        content: url('images/icons/small/step1.png');
    }

    .worksheet h2:nth-of-type(2):before {
        content: url('images/icons/small/step2.png');
    }

    .worksheet h2:nth-of-type(3):before {
        content: url('images/icons/small/step3.png');
    }

    .worksheet h2:nth-of-type(4):before {
        content: url('images/icons/small/step4.png');
    }

    .worksheet h2:nth-of-type(5):before {
        content: url('images/icons/small/step5.png');
    }

    .worksheet h2:nth-of-type(6):before {
        content: url('images/icons/small/step6.png');
    }

    .worksheet h2:nth-of-type(7):before {
        content: url('images/icons/small/step7.png');
    }

    .worksheet h2:nth-of-type(8):before {
        content: url('images/icons/small/step8.png');
    }

    .worksheet h2:nth-of-type(9):before {
        content: url('images/icons/small/step9.png');
    }

    .worksheet h2:nth-of-type(10):before {
        content: url('images/icons/small/step10.png');
    }

    .worksheet h2:last-of-type:before {
        content: url('images/icons/small/next.png');
    }

    .lesson h2:before {
        content: url('images/icons/small/lesson.png');
    }

    .lesson h2:nth-of-type(1):before {
        content: url('images/icons/small/learning-objectives.png');
    }

    .lesson h2:nth-of-type(2):before {
        content: url('images/icons/small/learning-outcomes.png');
    }

    .lesson h2:nth-of-type(3):before {
        content: url('images/icons/small/lesson.png');
    }

    .lesson h2:nth-of-type(4):before {
        content: url('images/icons/small/starter.png');
    }

    .lesson h2:nth-of-type(5):before {
        content: url('images/icons/small/main.png');
    }

    .lesson h2:nth-of-type(6):before {
        content: url('images/icons/small/plenary.png');
    }

    .lesson h2:nth-of-type(7):before {
        content: url('images/icons/small/homework.png');
    }

    nav.buttons a.button {
        width: 46%;
        margin: 20px 2%;
    }

    ul.hardware-items {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    ul.hardware-items {
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    nav.buttons a.button {
        width: 96%;
        margin: 0px 2% 30px;
    }

    .component img {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    ul.hardware-items {
        width: 200px;
    }

    ul.hardware-items li {
        margin: 10px auto;
        float: none;
    }
}


