<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="entry" xml:lang="ca">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>Use the <cmd>--entry</cmd> option.</desc>
  </info>
  <title>Diàleg d'entrada de text</title>
    <p>
        Use the <cmd>--entry</cmd> option to create a text entry dialog. <app>Zenity</app> returns the contents of the text entry to standard output. 
    </p>	
    <p>El diàleg d'entrada de text admet les opcions següents:</p>

    <terms>

      <item>
        <title><cmd>--text</cmd>=<var>text</var></title>
	<p>Especifica el text que es mostra al diàleg d'entrada de text.</p>
      </item>

      <item>
        <title><cmd>--entry-text</cmd>=<var>text</var></title>
	<p>Especifica el text que es mostra al camp d'entrada del diàleg d'entrada de text.</p>
      </item>

      <item>
        <title><cmd>--hide-text</cmd></title>
	<p>Amaga el text del camp d'entrada del diàleg d'entrada de text.</p>
      </item>

    </terms>

    <p>
      The following example script shows how to create a text entry dialog:
    </p>

<code>
#!/bin/sh

if zenity --entry \
--title="Add new profile" \
--text="Enter name of new profile:" \
--entry-text "NewProfile"
  then echo $?
  else echo "No name entered"
fi
</code>


    <figure>
      <title>Exemple de diàleg d'entrada de text</title>
      <desc><app>Zenity</app> text entry dialog example</desc>
      <media type="image" mime="image/png" src="figures/zenity-entry-screenshot.png"/>
    </figure>
</page>
