<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="list" xml:lang="sl">
  <info>
    <link type="guide" xref="index#dialogs"/>
    <desc>Use the <cmd>--list</cmd> option.</desc>
  </info>
  <title>List Dialog</title>
    <p>
	Use the <cmd>--list</cmd> option to create a list dialog. <app>Zenity</app> returns the entries in the first column of text of selected rows to standard output.
    </p>

    <p>
	Data for the dialog must specified column by column, row by row. Data can be provided to the dialog through standard input. Each entry must be separated by a newline character.
    </p>

    <p>
	If you use the <cmd>--checklist</cmd> or <cmd>--radiolist</cmd> options, each row must start with either 'TRUE' or 'FALSE'.
    </p>

    <p>
	The list dialog supports the following options:
    </p>

    <terms>

      <item>
        <title><cmd>--column</cmd>=<var>column</var></title>
	  <p>Specifies the column headers that are displayed in the list dialog. You must specify a <cmd>--column</cmd> option for each column that you want to display in the dialog.
	  </p>
      </item>

      <item>
        <title><cmd>--checklist</cmd></title>
	  <p>Specifies that the first column in the list dialog contains check boxes.
	  </p>
      </item>

      <item>
        <title><cmd>--radiolist</cmd></title>
	  <p>Specifies that the first column in the list dialog contains radio boxes.
	  </p>
      </item>

      <item>
        <title><cmd>--editable</cmd></title>
	  <p>Allows the displayed items to be edited.
	  </p>
      </item>

      <item>
        <title><cmd>--separator</cmd>=<var>separator</var></title>
	  <p>Specifies what string is used when the list dialog returns the selected entries.
	  </p>
      </item>

      <item>
        <title><cmd>--print-column</cmd>=<var>column</var></title>
	  <p>Specifies what column should be printed out upon selection. The default column is
                '1'. 'ALL' can be used to print out all columns in the list.
	  </p>
      </item>

    </terms>

    <p>
      The following example script shows how to create a list dialog:
    </p>
<code>
#!/bin/sh

zenity --list \
  --title="Choose the Bugs You Wish to View" \
  --column="Bug Number" --column="Severity" --column="Description" \
    992383 Normal "GtkTreeView crashes on multiple selections" \
    293823 High "GNOME Dictionary does not handle proxy" \
    393823 Critical "Menu editing does not work in GNOME 2.0"
</code>


    <figure>
      <title>List Dialog Example</title>
      <desc><app>Zenity</app> list dialog example</desc>
      <media type="image" mime="image/png" src="figures/zenity-list-screenshot.png"/>
    </figure>
</page>
