<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Scratch 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/scratchx.css" rel="stylesheet" type="text/css">
</head>
<body onload=' location.href="#scratch" '>
	<section id="scratch">
		<div class="scratch_unsupported">
			<p>
				Oh Noes! Scratch project cannot display.<br/>
				Flash player is disabled, missing, or less than version 10.2.
			</p>
		</div>
		<div class="scratch_loading"></div>
	</section>
    <script type="text/template" id="template-warning">
    <dialog class="extension-warning with-icon">
        <section>
            <h2>Warning</h2>
            <p>The extensions on this site are experimental</p>
        </section>
        <section>
            <p>The Scratch Team is <strong>not</strong> responsible for the extensions and projects on this site. Please use caution when using these extensions. <a href="#faq">Learn More</a></p>
            <button data-action="show" data-target="home">Back to ScratchX home</button>
            <button class="success">I understand, continue</button>
        </section>
    </dialog>
    </script>
    <script type="text/template" id="template-short-url">
    <dialog class="single">
        <section>
            <h2>Short URL</h2>
        </section>
        <section>
            <p>Click to copy the short url for this project</p>
            <div class="input-plus-button">
                <input type="text" value="<%- shortUrl %>" name="shortUrl" disabled />
                <button data-clipboard-text="<%- shortUrl %>">Copy</button>
            </div>
        </section>
    </dialog>
    </script>
    <script type="text/template" id="template-extension-url">
    <dialog class="extension-url with-icon">
        <section>
            <h2>Open an Extension URL</h2>
            <p>Paste the web address below</p>
            <p><a href="#faq-scratchx-url">What is a ScratchX URL?</a></p>
        </section>
        <section>
            <form class="input-plus-button url-load-form">
                <input type="text" placeholder="paste url..." />
                <button type="submit">Open</button>
            </form>
        </section>
    </dialog>
    </script>
    <script type="text/template" id="template-extension-file">
    <dialog class="extension-file with-icon">
        <section>
            <h2>Open an Extension Project</h2>
            <p>Choose a .sbx file from your local drive</p>
            <p><a href="#faq-sbx-file">What is a .sbx file?</a></p>
        </section>
        <section>
            <button data-action="load-file">Browse for local file</button>
        </section>
    </dialog>
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','///usr/lib/scratch2/libs/analytics.js','ga');
      ga('create', 'UA-30688952-3', 'auto');
      ga('send', 'pageview', 'home');
    </script>
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<script type="text/javascript" src="libs/base64ab.js" async></script>
	<script type="text/javascript" src="libs/bowser.min.js"></script>
	<script type="text/javascript" src="libs/swfobject.js"></script>
	<script type="text/javascript" src="libs/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="libs/socket.io-1.3.7.js"></script>
	<script type="text/javascript" src="libs/underscore-min.js" async></script>
	<script type="text/javascript" src="libs/ZeroClipboard.min.js" async></script>
	<script type="text/javascript" src="js/scratchx.js" defer></script>
	<script type="text/javascript" src="scratch_extensions/scratch_proxies.js" defer></script>
	<script type="text/javascript" src="scratch_extensions/scratch_plugin.js" defer></script>
	<script type="text/javascript" src="scratch_extensions/scratch_nmh.js" defer></script>
	<script type="text/javascript" src="scratch_extensions/scratch_deviceManager.js" defer></script>
	<script type="text/javascript" src="scratch_extensions/scratch_ext.js" defer></script>
	<script>if (window.module) module=window.module;</script>
</body>
</html>
